In [35]:
import pandas as pd

In [36]:
df=pd.read_csv('stock_data.csv',header=1,names=['tickers','eps','revenue','price','people'])
df

  tickers            eps  revenue price         people
0     WMT           4.61      484    65           n.a.
1    MSFT             -1       85    64     bill gates
2    RIL   not available       50  1023  mukesh ambani
3    TATA            5.6       -1  n.a.     ratan tata

In [37]:
df=pd.read_csv('stock_data.csv',header=1,names=['tickers','eps','revenue','price','people'],nrows=2)
df

  tickers   eps  revenue  price      people
0     WMT  4.61      484     65        n.a.
1    MSFT -1.00       85     64  bill gates

In [38]:
#to convert values to nan
df=pd.read_csv('stock_data.csv',header=1,na_values=['n.a.','not available'])
df

  GOOGL  27.82   87     845     larry page
0   WMT   4.61  484    65.0            NaN
1  MSFT  -1.00   85    64.0     bill gates
2  RIL     NaN   50  1023.0  mukesh ambani
3  TATA   5.60   -1     NaN     ratan tata

In [39]:
# write a new csv with only 2 columns
df.to_csv('new_csv.csv',index=None,header=None)

In [50]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.9 kB 325.1 kB/s eta 0:00:01
   ----------- --------------------------- 71.7/250.9 kB 653.6 kB/s eta 0:00:01
   -------------- ------------------------ 92.2/250.9 kB 581.0 kB/s eta 0:00:01
   -------------------------- ----------- 174.1/250.9 kB 871.5 kB/s eta 0:00:01
   -------------------------------------  245.8/250.9 kB 885.4 kB/s eta 0:00:01
   -------------------------------------- 250.9/250.9 kB 810.3 kB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [52]:
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'Sam Walton'
    return cell

def convert_price_cell(cell):
    if cell=="n.a.":
        return 50
    return cell
    
df = pd.read_excel("stock_data.xlsx","Sheet1", converters= {
        'people': convert_people_cell,
        'price': convert_price_cell
    })
df

  tickers            eps  revenue  price         people
0   GOOGL          27.82       87    845     larry page
1     WMT           4.61      484     65     Sam Walton
2    MSFT             -1       85     64     bill gates
3    RIL   not available       50   1023  mukesh ambani
4    TATA            5.6       -1     50     ratan tata

In [53]:

df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

with pd.ExcelWriter("stock_data.xlsx") as writer:
    df_stocks.to_excel(writer,sheet_name="stocks")
    df_weather.to_excel(writer,sheet_name="weather")